.sidebar .sidebar-about {

}
.sidebar .tagline {
    margin-left: 2em;
    margin-top: -1em;
}

.small {
    font-size: 0.8em;
}

ul.related-posts {
    list-style-type: none;
    padding-left: 0;
}
ul.related-posts li {
    padding-left: 0;
}
.related-posts li:before {
    content: "\25B8 \0020";
}
pre, code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 0.95em;
    white-space: pre;
    word-spacing: normal;
    color: #333333;
}
pre {
    white-space: pre;
    word-break: keep-all;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0.5rem;
    font-size: 0.75rem;
}
code {
    margin: 0 .25em;
    padding: .25em .25em;
    font-size: 80%;
}
body, article, div, p {
    line-height: 1.55;
}
h2, h3, h4 {
    padding: 0.75em 0 0;
}
h2, h3 {
    line-height: 1.3;
}
h4 {
    letter-spacing: 0.125em;
    font-family: 'Segoe UI', "Droid Sans", Roboto, Arial, sans-serif;
    text-transform: uppercase;
}
ul, ol, ol li {
    padding-left: 1em;
}
ul li {
    padding-left: 0.5em;
}
li {
    margin-bottom: 0.5em;
}
h2 {
    border-bottom: 1px solid #eeeeee;
}
li ul li, li ol li {
    margin-top: 0.5em;
}
ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}
ol > li {
    position: relative;
    margin: 0 0 0 1.75em;
    padding: 0 0 0 1.5em;
    list-style: none;
    border-left: 8px solid #cccccc;
}
ol > li + li {
    margin-top: 2em;
}
ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 0;
    left: -2em;
    box-sizing: border-box;
    width: 2em;
    margin: 0;
    padding: 4px;
    color: #fff;
    background: #555566;
    font-weight: bold;
    font-family: 'Segoe UI', "Droid Sans", Roboto, Arial, sans-serif;
    text-align: center;
}
li ol, li ul {
    margin-top: 0.75em;
    margin-left: 0.5em;
}
ol ol li:last-child {
    margin-bottom: 0;
}
p.more-link {
    display: block;
    text-align: right;
    margin-top: -1em;
    margin-bottom: 1.5em;
}
.intro, .excerpt {
    font-style: italic;
    font-size: 0.85em;
    background: #f5f5f5;
    padding: 0.25em 0.5em;
    margin-bottom: 1.5em;
}
.intro p, .excerpt p {
    padding-bottom: 0;
    margin-bottom: 0;
}
* {
    word-spacing: 1px;
}
abbr, abbr[title], acronym, acronym[title] {
    text-decoration: none;
    border-bottom: 1px dotted #cecece;
    cursor: help;
    font-weight: inherit;
    font-size: inherit;
}