.sidebar .sidebar-about {

}
.sidebar .tagline {
    margin-left: 2em;
    margin-top: -1em;
}

.small {
    font-size: 0.8em;
}

ul.related-posts {
    list-style-type: none;
}
.related-posts li:before {
    content: "\25B8 \0020";
}