main * {
    font-family: 'Segoe UI', "Droid Sans", Roboto, Arial, sans-serif;
}
p, li {
    font-size: 12pt;
    line-height: 1.5em;
    word-spacing: 1px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
li > p {
    display: inline-flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
}
li + li > p {
    padding-top: 0.5em;
}

ul {
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    padding-left: 1em;
    text-indent: -1em;
}
ul li {
    padding: 0;
    margin: 0;
}
ul li:before {
    content: "\25B8 \0020";
}
li + li {
    padding-top: 0.2em;
}


strong {
    font-size: 0.92em;
    opacity: 0.9;
}
h1 {
    display: block;
}
h2 {
    display: block;
    background: #e8e8e8;
    padding: 0;
    margin: 0.25em 0;
    font-size: 1.25em;
    margin-top: 1.5em;
}
p + p, p + ul {
    margin-top: 0.75em;
}



h3 {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0.95em;
}
h3 em {
    display: block;
    font-weight: normal;
    font-size: 0.85em;
    margin-bottom: 0.5em;
}

h2 + h3 {
    margin-top: 0.25em;
}

p + h3, ul + h3 {
    margin-top: 1em;
}
