main * {
    font-family: 'Segoe UI', "Droid Sans", Roboto, Arial, sans-serif;
}

main p, main li {
    font-size: 12pt;
    line-height: 1.5em;
    word-spacing: 1px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

main li > p {
    display: inline-flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
}

main li + li > p {
    padding-top: 0.5em;
}

main ul {
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    padding-left: 1em;
    text-indent: -1em;
}

main ul li {
    padding: 0;
    margin: 0;
}

main ul li:before {
    content: "\25B8 \0020";
}

main li + li {
    padding-top: 0.2em;
}

main strong {
    font-size: 0.92em;
    opacity: 0.9;
}

main h1 {
    display: block;
}

main h2 {
    display: block;
    background: #e8e8e8;
    padding: 0;
    margin: 0.25em 0;
    font-size: 1.25em;
    margin-top: 1.5em;
}

main p + p, main p + ul {
    margin-top: 0.75em;
}

main h3 {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 0.95em;
}

main h3 em {
    display: block;
    font-weight: normal;
    font-size: 0.85em;
    margin-bottom: 0.5em;
}

main h2 + h3 {
    margin-top: 0.25em;
}

main p + h3, main ul + h3 {
    margin-top: 1em;
}
