{% if site.disqus.shortname %}

    <script type="text/javascript">

        /* * * STOP! * * */
        /* You shouldn't need to edit ANYTHING below to get this working! */
        /* Instead, edit the key `disqus.shortname` in _config.yml */

        var disqus_config = function (){
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | relative_url }}';
        };

        (function() {
            var d = document, s = d.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.id = 'dsq-count-scr';
            s.src = 'https://{{ site.disqus.shortname }}.disqus.com/count.js';
            (d.head || d.body).appendChild(s);
        })();

    </script>

{% endif %}