<div class="posts">
    <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="post">
        <h1 class="post-title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title | escape }}
            </a>
        </h1>

        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta post-date">{{ post.date | date: date_format }}</span>

        {{ post.excerpt }}
        {% capture content_words %}
            {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }}
        {% endcapture %}
        {% if excerpt_words != content_words %}
        <span> ... <a class="" href="{{ post.url | prepend: site.baseurl }}">more &raquo;</a>
        </span>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>